* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: #262626;
}

body > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
}

/* TIPOGRAFIA + */

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2rem auto;
}

h1 {
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;

    b {
        color: #FFFFFF;
        background-color: #BA272F;
    }
}

h2 {
    margin: 3rem 0;
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.15;
}

h3 {
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

h3 {
    span {
        font-weight: normal;
    }
}

h4 {
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
}

.tcenter {
    text-align: center;
}

/* COLORS */

.red-border_top {
    border-top: 5px solid #BA272F;
}

.red-border_bottom {
    border-bottom: 5px solid #BA272F;
}

.red-bg {
    color: #FFFFFF;
    background-color: #BA272F;
}

.gray-bg {
    color: #FFFFFF;
    background-color: #898989;
    
    border-top: 5px solid #BA272F;
    border-bottom: 5px solid #BA272F;
}

/* MARGINS AND PADINGS */

.mt140 {
    margin-top: 14rem;
}

.mt0 {
    margin-top: 0 !important;
}

.mt120n {
    margin-top: -12rem;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb130 {
    margin-bottom: 13rem !important;
}

.mb200n {
    margin-bottom: -20rem;
}

.p0 {
    padding: 0 2rem !important;
}

/* DIV BENEFICES */

.benefices {
    div {
        margin: 1rem 0;
        padding: 2px;
        background-color: #C03C43;
        border-radius: 15px;
    }
}

/* BTNS */

.btn {
    max-width: 75%;
    display: block;
    margin: 3rem auto 2rem auto;
    padding: 1rem 2rem;

    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    color: #BA272F;
    background-color: #FFFFFF;
    border-radius: 15px;

    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn2 {
    max-width: 75%;
    display: block;
    margin: 3rem auto 2rem auto;
    padding: 1rem 2rem;

    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
    background-color: #BA272F;
    border-radius: 15px;

    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn3 {
    max-width: 90%;
    display: block;
    margin: 3rem auto 1rem auto;
    padding: 1rem 2rem;

    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
    background-color: #BA272F;
    border-radius: 15px;

    span {
        font-size: 1.8rem;
        font-weight: normal;
    }

    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn4 {
    max-width: 90%;
    display: block;
    margin: 1rem auto 2rem auto;
    padding: 1rem 2rem;

    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    color: #BA272F;
    border: 1px solid #BA272F;
    border-radius: 15px;

    span {
        font-size: 1.8rem;
        font-weight: normal;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* DIV AUTOR */

.autor {

    img {
        border-radius: 50%;
        box-shadow: 0px 5px 10px #00000050;
    }

}

/* DIV PREFACIO */

.prefacio {
    text-align: center;
}

/* DIV COPYRIGHT */

.copyright {
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .bg01 {
        background-image: url(media/bg01.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg03 {
        background-image: url(media/bg03.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}